<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="bottom: 0;position: absolute; padding-top : 5px; padding-left: 0;padding-right: 0; " >
            <p class="lead text-center" style="padding:10px;color: white; background-color:rgba(46, 41, 41, 0.89);">Copyright &COPY; innovaccer </p>
        </div>
    </div>
</div>
